GOOGLE_CLIENT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_SHEET_ID_MAIN=
GOOGLE_SHEET_ID_CONTENT=
GOOGLE_SHEET_ID_VIDEO=
GOOGLE_SHEET_ID_EVENT=1
GOOGLE_SHEET_RANGE_TASKS=Tasks!A:Z
GOOGLE_SHEET_RANGE_CONTENT=Content!A:Z
GOOGLE_SHEET_RANGE_APPROVAL=Approval!A:Z
GOOGLE_SHEET_RANGE_EVENTS=Events!A:Z
GOOGLE_SHEET_RANGE_LEADS=Leads!A:Z
GOOGLE_SHEET_RANGE_ADS=Ads!A:Z
GOOGLE_PUBLIC_DEADLINES_SHEET_ID=1EMgrSN-hYxHDPsm0PfO7fCp7rga3hlazFw6JGpW9XHY
GOOGLE_PUBLIC_DEADLINES_GID=2147133173
GOOGLE_PUBLIC_CONTENT_SCHEDULE_SHEET_ID=13qX5JmnviqWSwVIntdj4jfkQMtjXb3ez0C-OhD0yx68
GOOGLE_PUBLIC_CONTENT_SCHEDULE_GID=1363943918
GOOGLE_PUBLIC_VIDEO_SCHEDULE_SHEET_ID=1-E-5uvUhR1F9Yksg0ZWlotkGbozz3frWrs0JIUb4n7g
GOOGLE_PUBLIC_VIDEO_SCHEDULE_GID=1580932031
GOOGLE_PUBLIC_EVENT_SCHEDULE_SHEET_ID=1peepjk9hBojquQDdkKw0KO4kFItUUtpKVxFQBUX8UJc
GOOGLE_PUBLIC_EVENT_SCHEDULE_GID=955495011
GOOGLE_PUBLIC_LEADS_SHEET_ID=15UAA5oGkjUwXTWeXokJC_zz9nQ3O-XiqzFNYEZewY70
GOOGLE_PUBLIC_LEADS_GID=0
GOOGLE_PUBLIC_LEAD_CONFIG_SHEET_ID=15UAA5oGkjUwXTWeXokJC_zz9nQ3O-XiqzFNYEZewY70
GOOGLE_PUBLIC_LEAD_CONFIG_GID=666788840
GOOGLE_PUBLIC_ADS_SHEET_ID=1vgCDxo-fRIjFEq5vj_dcJuTVLW43q_hjQDqxLsxa28g
GOOGLE_PUBLIC_ADS_GID=0
GOOGLE_DRIVE_ROOT_FOLDER_ID=
GOOGLE_CALENDAR_ID=

TELEGRAM_REPORT_BOT_TOKEN=
TELEGRAM_REPORT_CHAT_ID=
TELEGRAM_INPUT_BOT_TOKEN=
TELEGRAM_INPUT_CHAT_ID=

OPENAI_API_KEY=
CLAUDE_API_KEY=

FACEBOOK_PAGE_ID=
FACEBOOK_PAGE_ACCESS_TOKEN=
