GOOGLE_CLIENT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_SHEET_ID_MAIN=
GOOGLE_SHEET_ID_CONTENT=
GOOGLE_SHEET_ID_VIDEO=
GOOGLE_SHEET_ID_EVENT=
GOOGLE_DRIVE_ROOT_FOLDER_ID=
GOOGLE_CALENDAR_ID=

TELEGRAM_REPORT_BOT_TOKEN=
TELEGRAM_REPORT_CHAT_ID=
TELEGRAM_INPUT_BOT_TOKEN=
TELEGRAM_INPUT_CHAT_ID=

OPENAI_API_KEY=
CLAUDE_API_KEY=

FACEBOOK_PAGE_ID=
FACEBOOK_PAGE_ACCESS_TOKEN=
